.project-card {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0px;
  padding: 8px 0px;
}
.project-photo {
  width: 35%;
  border-radius: 15px;
  margin-top: 16px;
}
.project-info {
  margin-right: 24px;
  max-width: 70%;
}

.project-title {
  font-size: 23px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.projectabout {
  max-width: 70%;
}
.tag {
  padding: 4px 8px;
  background-color: #3581b8;
  color: white;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}
.project-links a {
  text-decoration: none;
  color: whitesmoke;
}
.project-links {
  margin-top: 8px;
  display: flex;
}
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: #7765e3;
  border-radius: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 8px;
  margin-top: 8px;
}
.link-button i {
  display: flex;
  align-items: center;

  margin-right: 4px;
}

@media only screen and (max-width: 720px) {
  .project-photo {
    width: 90%;
  }
  .project-card {
    flex-direction: column-reverse;
  }
  .project-info {
    margin-left: 0px;
    margin-top: 12px;
    max-width: 100%;
  }
  .project-tags {
    max-width: 100%;
  }
  .projectabout {
    max-width: 100%;
  }
}
