.about {
  /* height: 75vh; */
  padding-bottom: 35px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  height: 300px;
}
.about-info {
  margin-top: 16px;
  font-size: 18px;
}
.info-name {
  font-size: 32px;
  color: blueviolet;
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 17px;
  }
  .info-name {
    font-size: 26px;
  }
}
